.html{
    height: 100%;
}

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
   
}

.titulo{
    text-align: center;
    
    margin: 15px;
    font-size: 20px;
}

.img1{
    text-align: center;
   /* margin: 15px 100px;
    padding: 15px;*/
    width: 100%;

}


.tarjeta{
    border: 1px solid rgb(7, 93, 240, 0.898) ;
    
    color : rgb(0, 0, 0) ;
    text-align:justify ;
    margin: 15px 100px;
    padding: 15px;
    border-radius: 10px;
    

}
.tarjeta h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 15px;
    text-align: center;
}
.tarjeta .elemento label{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.tarjeta .elemento input{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 30px;

}

.tarjeta .elemento input[type="submit"]{
    background-color: rgb(40, 108, 226);
   color: aliceblue;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 17px;
    
    
}
.tarjeta .elemento img{
   
    padding: 10px 170px;
    
    
}


.ta{
  
  
   font-size: 50px;
   margin: 15px 100px;
  
   border-radius: 200x;
   padding: 15%;
   line-height: 100px;
   text-align: center;
   
	@media(max-width: 850px){
	.tarjeta{
        margin: 100px 100px;
        height: 100%;

    }
    .tarjeta .elemento {
	    height: 100%;
        
	}
    .tarjeta .elemento label{
	    height: 100%;
	}
    .tarjeta .elemento input {
	    height: 100%;
	}


	
	}
    @media(max-width: 700px){
        .tarjeta .elemento {
            height: 100%;
        }
        .tarjeta .elemento label{
            height: 100%;
        }
        .tarjeta .elemento input {
            height: 100%;
        }
    
    
        
        }
